.prop-mostrar
{   
    margin: 30px 5% 30px 5%;
    width: 90%;
    height:1000px;
    display: grid;
    grid-template-columns: 300px 1fr;
    
}
/*
.buscar
{
    grid-column: 1/4;
    grid-row:1/2;

    width: 100%;
    background-color: #83c5be;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    padding: 10px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    
}
.buscar-entrada
{
    border-radius: 5px;
    padding:5px;
}
.boton-contenedor
{
    grid-column: 2/3;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.buscar-boton
{
    background-color: #fdb305;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: black;
    border-width: 0px;
}
.buscar-boton:hover
{
    color:white;
}
*/
.buscar-contenedor
{
    grid-column: 1/2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}
.buscar-titulo
{
    margin:20px 0px 0px 0px;
}
.buscar-opcion
{
    padding-top: 10px;
    color:black;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.buscar-opcion:hover
{
    color: #fdb305;

}
.checkbox-show
{
    display: block;
    height: 15px;
    width: 15px;
    padding-right: 5px;
}
.checkbox-hide
{
    display: none;
}
.buscar-precio
{
    display: flex;
    flex-flow: column nowrap;

}
.buscar-precio-entrada
{
    margin-top: 10px;
    border-radius: 3px;
    padding:3px;
    border-width: 1px;
}
.buscar-precio-boton
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-width: 0px;
    background-color: #83c5be;
    color:black;
    font-weight: 600;
    padding:3px;
    box-shadow: 3px 3px 3px grey;
}
.buscar-precio-boton:hover
{
    color: white;
}

.prop-contenedor
{
    grid-column: 2/6;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}