.main-prop-d {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.prop-d-contenedor {
  width: 90%;
  display: grid;
  grid-template-columns: 700px minmax(600px, 1fr);
  column-gap: 20px;
  grid-template-rows: 50px 500px 1fr;
  row-gap: 20px;
}
.img-section {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 700px;
  height: 500px;
  border-radius: 5px;
}
.precio-section {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 0px 20px;
}
.fondo-blanco-borde-gris {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
}
.ofertas-section {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 40px 20px;
  margin-bottom: 100px;
}
.caracteristicas-section {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 20px 20px;
  margin-bottom: 100px;
}

.precio-txt {
  width: 100%;
  margin: 20px 0px 20px 0px;
}
.alinear-texto-izq {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.prop-d-dato {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prop-d-etiqueta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(230, 230, 230);
  padding: 10px;
}
.prop-d-valor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  background-color: white;
  padding: 10px;
}
.border {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.top-left {
  border-width: 2px 0px 0px 2px;
  border-radius: 5px 0px 0px 0px;
}
.top-right {
  border-width: 2px 2px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}
.center-left {
  border-width: 2px 0px 0px 2px;
}
.center-right {
  border-width: 2px 2px 0px 0px;
}
.center {
  border-width: 2px 2px 0px 2px;
  border-radius: 5px 5px 0px 0px;
}
.bot-left {
  border-width: 2px 0px 2px 2px;
  border-radius: 0px 0px 0px 5px;
}
.bot-right {
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 0px 5px 0px;
}

.texto-izq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  background-color: rgb(230, 230, 230);
  padding: 10px;
}
.texto-der {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.texto-36 {
  font-size: 36px;
}
.texto-30 {
  font-size: 30px;
}
.texto-24 {
  font-size: 24px;
}
.texto-20 {
  font-size: 20px;
}
.texto-18 {
  font-size: 18px;
}
.texto-16 {
  font-size: 16px;
}

.ofertas-filtros {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px 50px 0px;
}
.ofertas-ordenar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.ofertas-ordenar-etiqueta {
  font-weight: bold;
  padding: 5px;
}
.ofertas-ordenar-categoria {
  padding: 5px;
  border-radius: 5px;
}

.ofertas {
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
}
.prop-d-oferta {
  background-color: whitesmoke;
  text-align: left;
  width: 100%;

  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 10px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  text-decoration: none;
  color: black;
}
.efecto-hover:hover {
  background-color: white;
  font-weight: bold;
}

.prop-d-oferta-detalle {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 100%;

  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.colapse {
  display: none;
}
.block {
  display: block;
}

.prop-d-ofertas-contenedor {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  background-color: whitesmoke;
}
.prop-d-oferta-titulo {
  font-size: 16px;
  font-weight: bold;
}

.centrar-boton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centrar-boton-contacto
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.contacto-mostrar
{
  display: block;
  font-weight: bold;
  font-size: 20px;
}
.botones-usuario
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:20px 0px 20px 0px;
}

.detalles-oferta {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.oferta-detalles-titulo {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
}
